@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    font-family: Nunito, sans-serif;
    font-size: 12pt;
}

.square {
    color: black;
    background-color: #e9c46a;
    float: left;
    position: relative;
    width: 20%;
    padding-bottom: 20%; /* = width for a 1:1 aspect ratio */
    margin: 0;
    overflow: hidden;
}

.content {
    position: absolute;
    height: 90%; /* = 100% - 2*10% padding */
    width: 90%; /* = 100% - 2*5% padding */
    padding: 0;
    text-transform: uppercase;
    overflow-wrap: break-word;
    font-family: Nunito, sans-serif;
    font-size: 8pt;
    text-align: center;
}

.token {
    color: blue;
    position: absolute;
    height: 90%; /* = 100% - 2*10% padding */
    width: 90%; /* = 100% - 2*5% padding */
    padding: 0;
    text-transform: uppercase;
    overflow-wrap: break-word;
    font-family: Nunito, sans-serif;
    font-size: 8pt;
    text-align: center;
}

.icon {
    position: absolute;
    height: 100%; /* = 100% - 2*10% padding */
    width: 100%; /* = 100% - 2*5% padding */
    padding: 0; 
}